* {
    font-family: 'Montserrat', sans-serif;
}
.main-contents {
    overflow: hidden;
}
/* Header start */

header.header {
    height: 112px;
    margin-left: 6%;
    margin-right: 6%;
    display: grid;
    background-color: #fff;
}
nav {
    display: flex;
    align-items: center;
}
nav .container-fluid {
    display: flex;
    justify-content: space-between;
}
nav .nav-left,
nav .nav-right {
    display: flex;
    align-items: center;
}
nav .nav-left .logo-parent {
    display: flex;
    align-items: center;
    gap: 10px;
}
nav .nav-left .logo-parent .logo-text {
    gap: 10px;
    align-items: flex-end;
}
nav .nav-left .logo-parent .text p {
    margin-bottom: 0;
    font-size: 16.53px;
    font-weight: 600;
    line-height: 13px;
    color: black;
}
nav .nav-left button {
    padding-right: 30px;
}
nav .nav-right .logo-wa {
    padding-left: 20px;
    padding-right: 20px;
    height: 32px;
    display: flex;
    align-items: center;
    gap: 20px;
    border: #bcbcbc solid 1px;
    border-radius: 30px;
}
nav .nav-right .logo-wa p {
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 500;
    color: black;
}
/* Header end */

/* Home 1 carousel start */
section.home1.carousel {
    background-color: #1b0a05;
}
section.home1.carousel .carousel-indicators {
    margin-left: 0;
    display: flex;
    justify-content: flex-start;
    left: 180px;
    bottom: 80px;
}
section.home1.carousel .carousel-indicators button {
    border-radius: 0;
    margin-right: 1px;
    margin-left: 1px;
    width: 58px;
}
section.home1.carousel .carousel-item .img-slide img {
    max-height: 860px;
    max-width: 66%;
    float: right;
}
section.home1.carousel .carousel-item .text {
    position: absolute;
    left: 180px;
    /* top: 16%; */
    bottom: 173px;
    width: 43%;
}
section.home1.carousel .carousel-item .text p {
    font-size: 17px;
    color: #fff;
}
section.home1.carousel .carousel-item .text h3 {
    font-size: 40px;
    color: #fff;
    margin-bottom: 30px;
}
section.home1.carousel .carousel-item .text .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 43px;
    width: 178px;
    background-color: black;
    border-radius: 30px;
}
section.home1.carousel .carousel-item .text .button p {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0;
}
.mobile-version {
    display: none;
}
/* home 1 carousel end */

/* Home 2 product start */
section.home2.product {
    padding-top: 120px;
    padding-bottom: 80px;
}
section.home2.product .heading .title h3 {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 46px;
}
section.home2.product .heading .subtitle p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
section.home2.product .carousel .carousel-indicators {
    bottom: -60px;
}
section.home2.product .carousel .carousel-indicators button {
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
section.home2.product .row .icon {
    display: flex;
    justify-content: center;
}
section.home2.product .row .text p {
    font-size: 13.35px;
    font-weight: 600;
    text-align: center;
}
section.home2.product .button {
    height: 43px;
    width: 263px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    position: relative;
    top: 110px;
    margin: auto;
}
section.home2.product .button p {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0;
}
/* Home 2 product end */

/* home 3 process start */
section.home3.process {
    margin-top: 100px;
    max-height: 632px;
}
section.home3.process .container {
    background-color: #eaeceb;
    display: flex;
    align-items: center;
    position: relative;
}
section.home3.process .text {
    position: relative;
    right: 12%;
}
section.home3.process .text .title h3 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 35px;
} 
section.home3.process .text .subtitle p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;   
    margin-bottom: 35px; 
}
section.home3.process .text .button {
    height: 43px;
    width: 174px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
}
section.home3.process .text .button p {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0;
}
/* home 3 process end */

/* Footer start */
footer.footer {
    margin-top: 130px;
    background-color: #f4f4f4;
}
/* footer.footer .container .row {
    height: 170px;
} */
footer.footer .col-lg-6.col-md-12.col-sm-12.left {
    max-height: 154px;
}
footer.footer .left {
    display: flex;
    align-items: center;
}
footer.footer .left .img {
    position: relative;
}
footer.footer .left .img img {
    max-height: 189px;
    width: auto;
    position: relative;
    bottom: 21px;
}
footer.footer .text .title h3 {
    font-size: 24.88px;
    font-weight: 600;
    line-height: 26px;
}
footer.footer .text .title h3 strong {
    font-weight: 800;
}
footer.footer .text .subtitle p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14.49px;
    font-weight: 500;
    line-height: 16px;
    color: #4c4c4c;
    margin-bottom: 0;
}
footer.footer .list-items {
    /* display: grid;
    grid-template-columns: repeat(3,200px);
    height: 100%;
    align-items: center;
    justify-content: end; */
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: end;
}
footer.footer .list-items .item {
    border-right: solid black 0.5px;
    text-align: center;
    height: 72px;
    width: 200px;
}
footer.footer .list-items .item:last-of-type {
    border: none;
}
footer.footer .list-items .icon {
    padding-bottom: 8px;
}
footer.footer .list-items .item p {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 0;
}
footer.footer .list-items .item h6 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
}

section.copyright {
    background-color: #fff;
}
section.copyright {
    /* max-height: 90px; */
    margin-top: 20px;
}
section.copyright .container {
    height: 90px;
    display: flex;
    align-items: center;
}
section.copyright .text h4 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
}
section.copyright .text p {
    font-size: 10.96px ;
    font-weight: 500;
    color: #b9b9b9;
}
section.copyright .btn-back {
    background-color: #f8f8f8;
    position: relative;
}
section.copyright .btn-back .button {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 43px;
    width: 175px;
    background-color: #c9c9c9;
    border-radius: 30px;
    justify-content: center;
    position: relative;
    margin: auto;
    bottom: 20px;
}
section.copyright .btn-back .button p {
    margin-bottom: 0;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
}
/* Footer end */

/* Responsive */
@media screen  and (max-width: 1450px) {
    section.home1.carousel .carousel-item .text {
        
        left: 60px;
        bottom: 16%;
    }
    section.home1.carousel .carousel-item .text h3 {
        font-size: 36px;
    }
    section.home1.carousel .carousel-indicators {
        left: 60px;
        bottom: 40px;
    }
    /* Home 1 carousel end */
    section.home3.process .text .title h3 {
        font-size: 32px;
    }
    section.home3.process .text .subtitle p {
        font-size: 16px;
    }
    /* Home 3 process */
}
@media screen and (max-width: 1200px) {
    section.home1.carousel .carousel-item .text {
        width: 50%;
    }
    section.home1.carousel .carousel-item .text h3 {
        font-size: 28px;
    }
    /* Home 1 carousel end */
    section.home3.process .text .title h3 {
        font-size: 24px;
    }
    section.home3.process .text .subtitle p {
        font-size: 14px;
    }
    section.home3.process {
        height: auto;
    }
    section.home3.process .text .title h3,
    section.home3.process .text .subtitle p {
        margin-bottom: 14px;
    }
    section.home3.process .img-banner img {
        max-width: 540px;
    }
    /* Home 3 process end */
    footer.footer .text .title h3 {
        font-size: 18px;
    }
    /* Footer end */
}

@media screen and (max-width: 992px) {
    section.home1.carousel .carousel-indicators {
        left: 60px;
        bottom: 10px;
    }
    section.home1.carousel .carousel-item .text h3 {
        font-size: 24px;
    }
    section.home3.process .img-banner img {
        max-width: 350px;
    }
    section.home3.process .text .title h3 {
        font-size: 18px;
    }
    section.home3.process .text .subtitle p {
        font-size: 11px;
    }
    /* Home 1 carousel end */
    /* footer.footer .btn-back {
        top: 280px;
    }
    footer.footer .container {
        height: auto;
    } */
    footer.footer .list-items {
        /* height: 189px; */
        padding-top: 20px;
        padding-bottom: 20px;
        gap: 20px;
    }
    
    /* footer end  */
}

@media screen and (max-width: 860px) {
    section.home1.carousel .carousel-indicators {
        left: 60px;
        bottom: -10px;
    }
    section.home1.carousel .carousel-item .text {
        width: 70%;
    }
    section.home1.carousel .carousel-item .text h3 {
        font-size: 20px;
        margin-bottom: 6%;
    }
    section.home1.carousel .carousel-item .text p {
        font-size: 13px;
    }
    section.home1.carousel .carousel-item .text .button {
        
        height: 33px;
        width: 168px;
        background-color: black;
        border-radius: 30px;
    }
    section.home1.carousel .carousel-item .text .button p {
        font-size: 12px;
        font-weight: 500;
        color: #fff;
        margin-bottom: 0;
    }
    /* Home 1 carousel end */
    section.home2.product .button {
        
        height: 33px;
        width: 208px;
        background-color: black;
        border-radius: 30px;
    }
    section.home2.product .button p {
        font-size: 12px;
        font-weight: 500;
        color: #fff;
        margin-bottom: 0;
    }
    /* Home 2 product end */
    section.home3.process .text .button {
        
        height: 33px;
        width: 168px;
        background-color: black;
        border-radius: 30px;
    }
    section.home3.process .text .button p {
        font-size: 12px;
        font-weight: 500;
        color: #fff;
        margin-bottom: 0;
    }
    /* Home 3 process end */
}

@media screen and (max-width: 767px) { 
    header.header {
        height: 80px;
    }
    /* header end */
    section.home1.carousel {
        background-color: white;
    }
    section.home1.carousel .carousel-item .text {
        display: none;
    }
    section.home1.carousel .carousel-item .img-slide img {
        max-width: 767px;
        height: 500px;   
    }
    .mobile-version {
        background-color: #1b0a05;
        display: block;
        padding-left: 20px;
        padding-right: 20px;
    }
    .mobile-version .text p {
        color: #fff;
    }
    .mobile-version .text h3 {
        color: #fff;
    }
    .mobile-version .text .button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 33px;
        width: 158px;
        background-color: black;
        border-radius: 30px;
        margin-top: 20px;
    }
    .mobile-version .text .button p {
        font-size: 11px;
        font-weight: 500;
        color: #fff;
        margin-bottom: 0;
    }
    /* Home 1 carousel end */
    section.home2.product .heading .title h3 {
        font-size: 28px;
        margin-bottom: 20px;
    }
    section.home2.product .heading .subtitle p {
        font-size: 14px;
    }
    /* Home 2 product */
    
    section.home3.process .container {
        flex-wrap: wrap;
    }
    section.home3.process .text {
        right: 0;
        padding: 20px;
        
    }
    /* Home 3 process */
    footer.footer .list-items {
        flex-wrap: wrap;
        justify-content: center;
    }
    footer.footer .list-items .item {
        border: none;
    }
    /* footer end */
}

@media screen and (max-width: 496px) {
    nav .nav-left {
        width: 100%;
        justify-content: space-between;
    }
    /* Header */
    section.home1.carousel .carousel-item .img-slide img {
        max-width: 496px;
        height: auto;   
    }
    .logo-parent .logo-text .text {
        display: none;
    }
    .mobile-version {
        padding-left: 20px;
        padding-right: 20px;
    }
    .mobile-version .text p {
        font-size: 10px;
    }
    .mobile-version .text h3 {
        font-size: 16px;
    }
    /* Home 1 carousel end */
    footer.footer .col-lg-6.col-md-12.col-sm-12.left {
        max-height: 100%;
        padding-top: 20px;
    }
    /* footer end */
    section.copyright {
        padding-top: 20px;
    }
    section.copyright .text p {
        margin-bottom: 40px;
    }
    /* copyright end */
}