* {
    font-family: 'Montserrat', sans-serif;
}
.main-contents {
    overflow: hidden;
}
/* Header start */

header.header {
    height: 112px;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    background-color: #fff;
}
nav {
    display: flex;
    align-items: center;
}
nav .container-fluid {
    display: flex;
    justify-content: space-between;
}
nav .nav-left,
nav .nav-right {
    display: flex;
    align-items: center;
}
nav .nav-left .logo-parent {
    display: flex;
    align-items: center;
    gap: 10px;
}
nav .nav-left .logo-parent .logo-text {
    gap: 10px;
    align-items: flex-end;
}
nav .nav-left .logo-parent .text p {
    margin-bottom: 0;
    font-size: 16.53px;
    font-weight: 600;
    line-height: 13px;
    color: black;
}
nav .nav-left button {
    padding-right: 30px;
}
nav .nav-right .logo-wa button {
    padding-left: 20px;
    padding-right: 20px;
    height: 32px;
    display: flex;
    align-items: center;
    gap: 20px;
    border: #bcbcbc solid 1px;
    border-radius: 30px;
}
nav .nav-right .logo-wa button {
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 500;
    color: black;
}
nav .offcanvas .offcanvas-body ul .nav-item a.nav-link {
    font-size: 16px;
    font-weight: 600;
}
/* Header end */

/* Home 1 carousel start */
section.home1.carousel {
    background-color: #1b0a05;
}
section.home1.carousel .carousel-indicators {
    margin-left: 0;
    display: flex;
    justify-content: flex-start;
    left: 13.1%;
    bottom: 80px;
}
section.home1.carousel .carousel-indicators button {
    border-radius: 0;
    margin-right: 1px;
    margin-left: 1px;
    width: 58px;
}
section.home1.carousel .carousel-item .img-slide img {
    max-height: 861px;
    max-width: 66%;
    float: right;
}
section.home1.carousel .carousel-item .text-caption {
    position: absolute;
    left: 13.1%;
    /* top: 16%; */
    bottom: 173px;
    width: 43%;
}
section.home1.carousel .carousel-item .text-caption p {
    font-size: 17px;
    color: #fff;
    margin-bottom: 28px;
    line-height: 26px;
    letter-spacing: 1px;
}

section.home1.carousel .carousel-item .text-caption h3 {
    font-size: 40px;
    color: #fff;
    margin-bottom: 27px;
    line-height: 42px;
}
section.home1.carousel .carousel-item .text-caption button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 43px;
    width: 178px;
    background-color: black;
    border-radius: 30px;
}
section.home1.carousel .carousel-item .text-caption button i {
    font-size: 18px;
}
section.home1.carousel .carousel-item .text-caption button i.fa-solid.fa-right-long.fa-2xs {
    transform: scaleX(1.4);
}
section.home1.carousel .carousel-item .text-caption button {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0;
}
.mobile-version {
    display: none;
}
/* home 1 carousel end */

/* Home 2 product start */
section.home2.product {
    padding-top: 120px;
    padding-bottom: 80px;
}
section.home2.product .heading {
    display: grid;
    justify-content: center;
}
section.home2.product .heading h3 {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}
section.home2.product .heading p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 54px;
    padding: 0 7.7%;
}
section.home2.product .carousel .carousel-indicators {
    bottom: -90px;
    gap: 18px;
}
section.home2.product .carousel .carousel-indicators button {
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
section.home2.product .row .icon {
    display: flex;
    justify-content: center;
}
section.home2.product .row .text-caption {
    margin-top: 30px;
}
section.home2.product .row .text-caption p {
    font-size: 13.35px;
    font-weight: 600;
    text-align: center;
}
section.home2.product .view-product {
    margin-top: 120px;
}
section.home2.product .view-product button {
    height: 43px;
    width: 263px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 30px;
    margin: auto;
}
section.home2.product .view-product button i {
    font-size: 18px;
}
section.home2.product .view-product button i.fa-solid.fa-right-long.fa-2xs {
    transform: scaleX(1.4);
}
section.home2.product .view-product button {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0;
}
/* Home 2 product end */

/* home 3 process start */
section.home3.process {
    margin-top: 50px;
}
section.home3.process .container {
    
    display: flex;
    align-items: center;
    position: relative;
}
/* section.home3.process .image-phone {
    display: ;
} */
section.home3.process .container .blocks_box_banner .row {
    background-color: #eaeceb;
}
section.home3.process .blocks_box_banner {
    background-image: url('images/banner-bottom.png');
    background-repeat: no-repeat;
    background-size: auto;
    height: 100%;
    width: auto;
}
section.home3.process .image-phone {
    height: 100%;
    width: auto;
}
section.home3.process .image-phone img {
    width: auto;
    height: 100%;
}
section.home3.process .container,
section.home3.process .container .col-md-5 {
    padding-left: 0;
    padding-right: 0;
}
section.home3.process .blocks_box_banner .col-md-7 {
    display: inline-flex;
    align-items: center;
}
section.home3.process .text-caption {
    position: relative;
    /* right: 5%; */
    left: 11%;
}
section.home3.process .text-caption h3 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 28px;
    padding-right: 16%;
} 
section.home3.process .text-caption p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;   
    margin-bottom: 40px; 
    padding-right: 25%;
}
section.home3.process .text-caption button {
    height: 43px;
    width: 174px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 30px;
}
section.home3.process .text-caption button i {
    font-size: 18px;
}
section.home3.process .text-caption button i.fa-solid.fa-right-long.fa-2xs {
    transform: scaleX(1.4);
}
section.home3.process .text-caption button {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0;
}
/* home 3 process end */

/* Footer start */
footer.footer {
    margin-top: 139px;
    background-color: #f4f4f4;
}
/* footer.footer .container .row {
    height: 170px;
} */
footer.footer .col-lg-6.col-md-12.col-sm-12.left {
    max-height: 154px;
}
footer.footer .left {
    display: flex;
    align-items: center;
}
footer.footer .left .img {
    position: relative;
}
footer.footer .left .img img {
    max-height: 189px;
    width: auto;
    position: relative;
    bottom: 21px;
    padding-right: 20px;
}
footer.footer .text-caption h3 {
    font-size: 25px;
    font-weight: 600;
    line-height: 26px;
}
footer.footer .text-caption h3 strong {
    font-weight: 800;
}
footer.footer .text-caption p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #4c4c4c;
    margin-bottom: 0;
}
footer.footer .list-items {
    /* display: grid;
    grid-template-columns: repeat(3,200px);
    height: 100%;
    align-items: center;
    justify-content: end; */
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: end;
}
footer.footer .list-items .item {
    border-right: solid black 0.5px;
    text-align: center;
    height: 72px;
    width: 208px;
}
footer.footer .list-items .item:last-of-type {
    border: none;
}
footer.footer .list-items .icon {
    padding-bottom: 12px;
}
footer.footer .list-items .item p {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 0;
}
footer.footer .list-items .item h6 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
}

section.copyright {
    background-color: #fff;
}
section.copyright {
    /* max-height: 90px; */
    margin-top: 12px;
}
section.copyright .container {
    height: 90px;
    display: flex;
    align-items: center;
}
section.copyright .text-caption h4 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
}
section.copyright .text-caption p {
    font-size: 11px ;
    font-weight: 500;
    color: #b9b9b9;
    margin-bottom: 7px;
}
section.copyright .btn-back {
    background-color: #f8f8f8;
    position: relative;
    height: 45px;
}
section.copyright .btn-back button {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 43px;
    width: 175px;
    background-color: #c9c9c9;
    border-radius: 30px;
    justify-content: center;
    position: relative;
    margin: auto;
    bottom: 20px;
}
section.copyright .btn-back button i {
    font-size: 18px;
}
section.copyright .btn-back button i.fa-solid.fa-up-long {
    transform: scaleY(1.4);
}
section.copyright .btn-back button {
    margin-bottom: 0;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
}
/* Footer end */

/* Responsive */
@media screen  and (max-width: 1450px) {
    section.home1.carousel .carousel-item .text-caption {
        
        left: 60px;
        bottom: 16%;
    }
    section.home1.carousel .carousel-item .text-caption h3 {
        font-size: 36px;
    }
    section.home1.carousel .carousel-indicators {
        left: 60px;
        bottom: 40px;
    }
    /* Home 1 carousel end */
    section.home3.process .text-caption h3 {
        font-size: 32px;
    }
    section.home3.process .text-caption p {
        font-size: 16px;
    }
    /* Home 3 process */
}
@media screen and (max-width: 1200px) {
    section.home1.carousel .carousel-item .text-caption {
        width: 50%;
    }
    section.home1.carousel .carousel-item .text-caption h3 {
        font-size: 28px;
        line-height: 32px;
    }
    /* Home 1 carousel end */
    section.home3.process .text-caption h3 {
        font-size: 24px;
    }
    section.home3.process .text-caption p {
        font-size: 14px;
    }
    section.home3.process {
        height: auto;
    }
    section.home3.process .text-caption h3,
    section.home3.process .text-caption p {
        margin-bottom: 14px;
    }
    section.home3.process .img-banner img {
        max-width: 540px;
    }
    /* Home 3 process end */
    footer.footer .text-caption h3 {
        font-size: 18px;
    }
    /* Footer end */
}

@media screen and (max-width: 992px) {
    section.home1.carousel .carousel-indicators {
        left: 60px;
        bottom: 10px;
    }
    section.home1.carousel .carousel-item .text-caption h3 {
        font-size: 24px;
    }
    section.home3.process .img-banner img {
        max-width: 350px;
    }
    section.home3.process .text-caption {
        left: 0;
    }
    section.home3.process .text-caption h3 {
        font-size: 18px;
    }
    section.home3.process .text-caption p {
        font-size: 11px;
    }
    /* Home 1 carousel end */
    /* footer.footer .btn-back {
        top: 280px;
    }
    footer.footer .container {
        height: auto;
    } */
    footer.footer .list-items {
        /* height: 189px; */
        padding-top: 20px;
        padding-bottom: 20px;
        gap: 20px;
    }
    
    /* footer end  */
}

@media screen and (max-width: 860px) {
    section.home1.carousel .carousel-indicators {
        left: 60px;
        bottom: -10px;
    }
    section.home1.carousel .carousel-item .text-caption {
        width: 70%;
    }
    section.home1.carousel .carousel-item .text-caption h3 {
        font-size: 20px;
        margin-bottom: 6%;
    }
    section.home1.carousel .carousel-item .text-caption p {
        font-size: 13px;
    }
    section.home1.carousel .carousel-item .text-caption button {
        
        height: 33px;
        width: 168px;
        background-color: black;
        border-radius: 30px;
    }
    section.home1.carousel .carousel-item .text-caption button {
        font-size: 12px;
        font-weight: 500;
        color: #fff;
        margin-bottom: 0;
    }
    /* Home 1 carousel end */
    section.home2.product .view-product button {
        
        height: 33px;
        width: 236px;
        background-color: black;
        border-radius: 30px;
    }
    section.home2.product .view-product button {
        font-size: 12px;
        font-weight: 500;
        color: #fff;
        margin-bottom: 0;
    }
    /* Home 2 product end */
    section.home3.process .text-caption button {
        
        height: 33px;
        width: 168px;
        background-color: black;
        border-radius: 30px;
    }
    section.home3.process .text-caption button {
        font-size: 12px;
        font-weight: 500;
        color: #fff;
        margin-bottom: 0;
    }
    /* Home 3 process end */
}

@media screen and (max-width: 767px) { 
    header.header {
        height: 80px;
    }
    /* header end */
    section.home1.carousel {
        background-color: white;
    }
    section.home1.carousel .carousel-item .text-caption {
        display: none;
    }
    section.home1.carousel .carousel-item .img-slide img {
        max-width: 767px;
        height: 500px;   
    }
    .mobile-version {
        background-color: #1b0a05;
        display: block;
        padding-left: 20px;
        padding-right: 20px;
    }
    .mobile-version .text-caption p {
        color: #fff;
    }
    .mobile-version .text-caption h3 {
        color: #fff;
    }
    .mobile-version .text-caption button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 33px;
        width: 158px;
        background-color: black;
        border-radius: 30px;
        margin-top: 20px;
    }
    .mobile-version .text-caption button {
        font-size: 11px;
        font-weight: 500;
        color: #fff;
        margin-bottom: 0;
    }
    /* Home 1 carousel end */
    section.home2.product .heading h3 {
        font-size: 28px;
        margin-bottom: 20px;
    }
    section.home2.product .heading p {
        font-size: 14px;
    }
    /* Home 2 product end */
    section.home3.process .widget-image {
        background-image: none;
    }
    section.home3.process .container {
        flex-wrap: wrap;
    }
    section.home3.process .text-caption {
        right: 0;
        padding: 20px;
        
    }
    section.home3.process .col-md-12 {
        display: block;
    }
    /* Home 3 process end */
    footer.footer .list-items {
        flex-wrap: wrap;
        justify-content: center;
    }
    footer.footer .list-items .item {
        border: none;
    }
    /* footer end */
}

@media screen and (max-width: 496px) {
    nav .nav-left {
        width: 100%;
        justify-content: space-between;
    }
    /* Header */
    section.home1.carousel .carousel-item .img-slide img {
        max-width: 496px;
        height: auto;   
    }
    .logo-parent .logo-text .text {
        display: none;
    }
    .mobile-version {
        padding-left: 20px;
        padding-right: 20px;
    }
    .mobile-version .text-caption p {
        font-size: 10px;
    }
    .mobile-version .text-caption h3 {
        font-size: 16px;
    }
    /* Home 1 carousel end */
    footer.footer .col-lg-6.col-md-12.col-sm-12.left {
        max-height: 100%;
        padding-top: 20px;
    }
    /* footer end */
    section.copyright {
        padding-top: 20px;
    }
    section.copyright .text-caption p {
        margin-bottom: 40px;
    }
    /* copyright end */
}